
{% extends 'base.html' %}

{% block content %}
        
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
            
            <table class="table table-bordered">
				<thead>
					<tr>
						
						<th>
                            Nome
						</th>
						<th>
							Primeiro Nome
						</th>
						<th>
							Ultimo Nome
						</th>
						<th>
							Data de cadastro
						</th>
						<th>
							Editar
						</th>
						<th>
							Excluir
						</th>
					</tr>
				</thead>

                {% for usuario in object_list %}
					<tr>
						
						<td>
							{{ usuario.username }}
						</td>
						<td>
							{{ usuario.first_name }}
						</td>
						<td>
							{{ usuario.last_name }}
						</td>
						<td>
							{{ usuario.update_on }}
						</td>
						<td>
							<a class="btn btn-primary" href="{% url 'editarUsuario' pk=usuario.pk %}">
								Editar
							</a> 
						</td>
						<td>
							<a class="btn btn-danger" href="#">
								Excluir
							</a> 
						</td>
					</tr>

                {% empty %}
                    Nenhum livro foi cadastrado
                {% endfor %}
            </table>
            {% with livros as paginated %}
                {% include "pagination.html" %}
            {% endwith %}

            </div>
            <div class="col-md-2">
            </div>
            
        </div>
    </div>           
    {% endblock content %}

