
{% extends 'base.html' %}

{% block content %}
        
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2> Livros retirados pelo usuario </h2>
            <table class="table table-bordered">
				<thead>
					<tr>
						
						<th>
                            Título
						</th>
						<th>
							Autor
						</th>
						<th>
							Editora
						</th>
						<th>
							Data de publicação
						</th>
						<th>
							Devolver
						</th>
					</tr>
				</thead>

                {% for livro in livros %}
					<tr>
						
						<td>
							{{ livro.titulo }}
						</td>
						<td>
							{{ livro.autor.nome }}
						</td>
						<td>
							{{ livro.editora }}
						</td>
						<td>
							{{ livro.data }}
						</td>
						<td>
							<a class="btn btn-success" href="{% url 'devolverLivro' livro.pk %}">
								Devolver
							</a> 
						</td>
					</tr>

                {% empty %}
                    Nenhum livro foi cadastrado
                {% endfor %}
            </table>
            {% with livros as paginated %}
                {% include "pagination.html" %}
            {% endwith %}

            </div>
            <div class="col-md-2">
            </div>
            
        </div>
    </div>           
    {% endblock content %}

